body{
  font-size: 15px !important;
  /* background-color: #f3f6f9 !important; */
  background-color: #4a4c8e !important;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.post-list {
  margin-top: 1em;
}

.comment-to {
  margin-left: 0.5em;
}

.comment-input {
  margin-bottom: 5px;
}

.post-list-loader {
  margin-top: 10px;
}

#nprogress .bar {
  background: #ff1c67 !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ff1c67, 0 0 5px #ff1c67 !important;
}

#nprogress .spinner-icon {
  border-top-color: #ff1c67 !important;
  border-left-color: #ff1c67 !important;
}

