body{
  font-size: 15px !important;
  /* background-color: #f3f6f9 !important; */
  background-color: #4a4c8e !important;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-color {
  background-color: #4a4c8e !important;
  border-bottom: 0.5px solid #636499 !important;
}

.post-list {
  margin-top: 1em;
}

.comment-to {
  margin-left: 0.5em;
}

.comment-input {
  margin-bottom: 5px;
}

